.non-login-cover {
  display: flex;
  color: rgb(13, 110, 253);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 45px;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(8, 25, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  line-height: 24px;
}
